<ng-container *ngIf="profile===0">
    <div class="body">
        <div class = "profileContainer">
            <div class="textMain">
                넷플릭스를 시청할 프로필을 선택하세요.
            </div>
            <div class="Profiles">
                <button class="Wrap" (click)="profile=1">
                    <div class="Profile">
                    </div>
                    <div class="textProfile">
                        프로필1
                    </div>
                </button>
                <button class="Wrap" (click)="profile=2">
                    <div class="Profile">
                    </div>
                    <div class="textProfile">
                        프로필1
                    </div>
                </button>
                <button class="Wrap" (click)="profile=3">
                    <div class="Profile">
                    </div>
                    <div class="textProfile">
                        프로필1
                    </div>
                </button>
                <button class="Wrap" (click)="profile=4">
                    <div class="Profile">
                    </div>
                    <div class="textProfile">
                        프로필1
                    </div>
                </button>
                <button class="Wrap" (click)="profile=5">
                    <div class="Profile">
                    </div>
                    <div class="textProfile">
                        프로필1
                    </div>
                </button>
            </div>
            <div class="center">
                <button class="ProfileButton">
                    프로필 관리
                </button>
            </div>
        </div>
    </div>
</ng-container>

